.time {
	font-size: 120px;
	color: white;
	margin-top: 15px;
}
.block_btn {
	display: flex;
	justify-content: center;
	align-items: center;
}
.block_btn Button {
	font-size: 16px;
	border: none;
	cursor: pointer;
	background: none;
	box-sizing: border-box;
	color: white;
	padding-left: 15px;
}
.time_start {
	width: 200px;
	height: 55px;
	color: red;
	cursor: pointer;
	border-radius: 4px;
	margin-top: 20px;
	box-shadow: rgb(235 235 235) 0px 6px 0px;
	border: none;
	font-size: 22px;
}
.time_start:hover {
	opacity: 0.9;
}
.time_focus {
	color: white;
	margin-top: 90px;
}
.time_toggle {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 200px;
	margin: 0 auto;

	text-align: center;
}
.time_next_toggle {
	opacity: 0.9;
	cursor: pointer;
	background: none;
	border: none;
	padding: 25px 0 0 15px;
}
.time_next_toggle img {
	width: 22px;
}
