.footer {
    margin: 0 auto;
	padding-top: 30px;
	border-top: 2px solid #efefef;
    height: 197px;
    max-width: 480px;
   
}
.footer_image_link{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin: 19px;
}
.footer_image_link img {
    
	background-color: #999;
    width: 28px;
    height: 28px;
    border-radius: 100px;
    padding: 6px;
    margin: 0px 6px;
}
.footer_link{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.footer_link a{
    text-decoration: none;
    color: gray;
}
.footer p,h6{
    text-align: center;
    padding: 7px;
color: #999;
}
